h1 {
	color:blue;
}

body {
	background-color:rgb(168,168,168);
}

.btn-primary {
	border-radius: 0px;
}

.btn-secondary {
	color:white;
	background-color:rgb(44,47,51);
	border: none;
}

.abcd {
	background-color:rgb(44,47,51);
}

.bg-secondary {
	background-color:rgb(44,47,51);
}

.hoverable:hover .dropdown-menu{
	display:block;
	margin-top: 0;
}