h1 {
	color:blue;
}

body {
	background-color:rgb(168,168,168);
}

.btn-primary {
	border-radius: 0px;
}

.btn-secondary {
	color:white;
	background-color:rgb(44,47,51);
	border: none;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border-radius: 0px;
}

.abcd {
	background-color:rgb(44,47,51);
}

.bg-secondary {
	background-color:rgb(44,47,51);
}

.hoverable:hover .dropdown-menu{
	display:block;
	margin-top: 0;
}

.dropdown-toggle {
	border: none;
	border-radius: 0px;
}

.dropdown-menu {
	border: none;
	border-radius: 0px;
	background-color:rgb(44,47,51);
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #8599a0;
  text-decoration: none;
  background-color:rgb(44,47,51);
}

.dropdown-item {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color:white;
}